.calculator {
    width: 400px;
    height : 590px;
    display : grid;
    grid-template-areas : 
       "result result result result"
       "clear clear backspace division"
       "seven eight nine multiplication"
       "four five six substraction"
       "one two three addition"
       "zeron zeron zeron equals";
    gap : 1px 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr;
    margin : 40px;
    background-color: black;
    font-size: 35px;
}

.result {
    color : white;
    background-color: black;
    grid-area : result;
    text-align: right;
    margin : 8px;
    font-family: 'Roboto Mono', monospace;
}

.btn
{
    border : 0px solid black;
    font-size: 35px;
}

.number {
    background-color: #D8D9DB;
}

.number:hover{
    background-color: #ebebeb;
}

.operation
{
    background-color: #E0974B;
    color : white;
}

.operation:hover {
    background-color: #dfb07e;
}

.one {
    grid-area : one;
}

.two {
    grid-area : two;
}

.three {
    grid-area : three;
}

.four {
    grid-area : four;
}

.five {
    grid-area : five;
}

.six {
    grid-area : six;
}

.seven {
    grid-area : seven;
}

.eight {
    grid-area : eight;
}

.nine {
    grid-area : nine;
}

.zero {
    grid-area : zeron;
}

.clear {
    grid-area : clear;
}

.backspace {
    grid-area : backspace;
}

.division {
    grid-area : division;
}

.multiplication {
    grid-area : multiplication;
}

.substraction {
    grid-area : substraction;
}

.addition {
    grid-area : addition;
}

.equals {
    grid-area : equals;
}


